.interface{
    max-width: 1280px;
    margin: 0 auto;
}
header div div a img{
    width: 60px;
    height: auto;
}

header{
    padding: 10px 4%;
    background-color: black;
}

header >.interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transform: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header nav ul li a{
    font-size: 25px;
}

header .btn-contato button {
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: aqua;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px rgb(27, 36, 36);
}





.fim {
    font-size: 10px;
    position: relative; /* Fixa a div na tela */
    bottom: 0; /* Ajusta a posição para a parte inferior da tela */
    left: 0; /* Ajusta a posição para a esquerda da tela */
    width: 100%; /* Define a largura da div */
    background-color: #888686; /* Cor de fundo */
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    padding: 10px 0; /* Adiciona espaço interno superior e inferior */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil na parte superior */
    z-index: 999; /* Garante que a div esteja acima de outros elementos */
}

.fim a {
    color: inherit; /* Herda a cor do texto ao redor */
    text-decoration: none; /* Remove a linha abaixo do link */
    transition: color 0.3s; /* Adiciona uma transição suave para a mudança de cor */
}

.fim a:hover {
    color: navy; /* Muda a cor do texto para azul marinho */
    text-decoration: none; /* Remove a linha abaixo do link */
    padding-bottom:2px; /* Aumenta o espaço abaixo do texto */
    transition: padding-bottom 0.3s; /* Adiciona uma transição suave para o aumento do espaço */
}