body {
    background-color: rgb(253, 253, 253);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.checkAges{
    font-size: 50px;
    text-align: center;
    border: 2px solid rgba(128, 128, 128, 0.5); /* Borda de 2px com cor cinza claro quase transparente */
    background-color: rgba(192, 192, 192, 0.2); /* Fundo cinza claro quase transparente */
    padding: 20px; /* Adiciona algum preenchimento para espaçamento interno */
}

.yes, .no {
    top: 30px;
    font-size: 25px;
    margin: 30px;
    border-radius: 2px;
    width: 90px;
    height: 60px;
    cursor: pointer;
    transition: width 0.5s, height 0.5s; /* Adiciona uma transição suave */
}

.yes{
    background-color: rgb(107, 236, 107);
}
.no {
    background-color: rgb(180, 39, 39);
}

.yes:hover {
    width: 100px; /* Aumenta a largura para 40px quando hover */
    height: 66px; /* Aumenta a altura para 16px quando hover */
    background-color: rgb(3, 158, 3); /* Muda a cor de fundo para verde quando hover */
    font-size: 30px;
}

.no:hover {
    width: 100px; /* Aumenta a largura para 40px quando hover */
    height: 66px; /* Aumenta a altura para 16px quando hover */
    background-color: rgb(189, 1, 1); /* Muda a cor de fundo para vermelho quando hover */
    font-size: 30px;
}

/* Estilo para a imagem */
.logo-1 {
    margin: auto; 
    width: 100px;

} 

.texts{
    font-size: 90px;
}

.login {
    display: flex;
    justify-items: center;
    text-align: center;
    height: 100vh; /* Ocupa toda a altura da viewport */
    border: 10px;
}

.login__header{
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.login__header input {
    width: 90px; /* Define a largura dos inputs como 90px */
    height: 30px; /* Define a altura dos inputs como 30px */
    text-align: center; /* Alinha o texto ao centro */
    font-size: 16px; /* Define o tamanho da fonte */
    margin: auto;
}


.login > * {
    margin: auto; /* Centraliza verticalmente */
}



.checkAges, .register {
    display: none; /* Inicialmente oculta os elementos login e register */
}

